* {
    font-family: "JetBrains Mono", monospace;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}
section {
    background-color: rgba(0, 0, 0, 0.40);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 10px solid transparent;
    border-image: linear-gradient(90deg, #FCB045 37.99%, #FD1D1D 100%);
    -moz-border-image: -moz-linear-gradient(#FCB045, #FD1D1D);
    -webkit-border-image: -webkit-linear-gradient(#FD1D1D, #FCB045);
    border-image-slice: 1;
    padding: 10px;
}

input {
    padding: 2px;
    background: linear-gradient(270deg, #FCB045 36.99%, #FD1D1D 100%);
    border-radius: 18px;
    height: 24px;
    outline: unset;
    width: 50%;
    margin: 10px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    black;
}

button {
    height: 32px;
    background: linear-gradient(270deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    border: unset;
    width: 25%;
    font-size: 24px;
    margin: 10px;
    cursor: pointer;
    transition: .5s;
}

span {
    background: linear-gradient(270deg, #FCB045 36.99%, #FD1D1D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 32px;
}